body {
    background:rgb(252, 143, 161);
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color:white;
    text-align: center;
}

section {
    background:white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.152);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#foto {
    text-align: center;
}
#foto img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

